.App {
  margin: 30px auto;
  border: 1px solid rgba(224, 224, 224, 0.55);
  box-shadow: 0 0 80px rgba(138, 134, 134, 0.38);
  background: #cef1ff5e;
  border-radius: 50px;
  padding: 20px 40px;
  margin: 60px auto;
  max-width: 800px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
